*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100lvh;
  width: 100lvw;
  overflow-x: hidden;
  // overflow-y: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $color-bg-dark;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}
