.nav {
  grid-column: main-start / main-end;
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  grid-template-rows: 15vh;

  &__brand {
    grid-column: 1 / 2;
    height: 15vh;
    width: 270px;
  }

  &__brand a img{
    height: 100%;
    width: 100%;
    margin: 2rem 0 0 0;
  }

  &__burger {
    grid-column: 3 / 4;
    cursor: pointer;
    align-self: center;
    justify-self: end;
    z-index: 1;
  }
  
  &__contact-info {
    grid-column: 2 / 3;
    display: none;
  }

  &__links {
    display: none;
  }
  &__item {
    margin: 1.5rem;
    width: max-content;
  }
  &__link {
    color: $color-gray-light;
  }
}

.open-menu {
  display: block;
  position: fixed;
  background-color: $color-bg-dark;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: $bp-tabland) {
  .nav {
    column-gap: 4rem;

    &__burger {
      display: none;
    }
  
    &__links {
      display: flex;
      justify-self: end;
      align-self: center;
    }
   
    &__link {
      position: relative; // mixin below requires position absolute
      color: $color-gray-dark;

      &::after {
        @include underline;
      }
      &:hover::after {
        @include underline_after
      }
    }
  }
}

@media only screen and (min-width: $bp-laptop) {
  .nav {
    
    &__contact-info {
      display: inline;
      align-self: center;
    }
  }
}
