.open-menu .nav__burger-bar {
  background: transparent;
  transition: transform 500ms ease-out;
}
.open-menu .nav__burger-bar::before {
  transform: rotate(-225deg);
  transition: transform 500ms ease-out;
  top: 0;
}
.open-menu .nav__burger-bar::after {
  transform: rotate(225deg);
  transition: transform 500ms ease-out;
  top: 0;
}

.spin::before {
  animation: 1500ms linear infinite spinner;
  animation-play-state: inherit;
  border: 10px solid $color-font-tertiary;
  border-bottom-color: $color-bg-light;
  border-radius: 50%;
  content: '';
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100px;
  will-change: transform;
}
